@import "../../utils/constants.scss";

.edit-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .edit-modal {
        width: 50%;
        min-height: 70%;
        max-height: 90%;
        overflow: auto;
        background-color: white;
        border-radius: 20px;

        .close-modal {
            padding: 0 20px;
            text-align: end;

            img {
                cursor: pointer;
            }
        }

        .container {
            padding: 20px 40px;
            padding-top: 0;

            h3 {
                text-align: center;
            }

            .custom-button {
                margin-top: 10px;
            }
        }
    }
}
