// Backgrounds
$main_bg: #f6f6f6;
$bg-darker-grey: #e0e0e0;
$bg-grey: #f3f3f3;
$bg-white: white;

// Buttons
$btn-color: #000000;
$btn-color-hover: #9a9a9a;
$btn-color-text: white;
$btn-disabled: rgba(0, 0, 0, 0.5);
$nav-item-hover: #eff2f6;

// Text Colors
$primary-text-color: black;
$secondary-text-color: #666c89;
$btn-disabled-text: #d4d4d8;
